.card-chef{
    height: 500px;
    width: 400px;
}

.card-chef .card-img{
    display: block;
    height: 300px;
    width: 400px;
}

.card-chef .card-body{
   padding: 2rem;
   height: 200px;
}

.card-chef .card-body .card-restaurant{
    padding: 15px;
}

.card-chef .card-body .card-name{
    font-weight: bold;
}