.reviewCardContainer{
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
    border: solid 1px #b1b1b1;
}


.reviewCardContainer .ReviewText{
    text-align: start;
    margin-left: 10px;
    margin-top: 5px ;
    margin-bottom: 10px;
}

.reviewimageprofile .image{
    
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.reviewimageprofile .image .imagespecific{
    width: 100%;
    height: auto; 
}
