.BoxAddCard{
    background-color: #f8eadd;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: 2px solid #a6a6a6;
    border-radius: 10px;
    min-width: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px 1px rgba(66, 66, 66, 0.75);
    padding: 20px;
}

.tittleAddCard{
    margin-bottom: 5%;
    border-bottom: 1px solid #a6a6a6;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addCardButton{
    width: 100%;
    background-color: #329827 !important;
    border-radius: 10px !important;
    margin-bottom: 10px !important;
    margin-top: 5% !important;
}

.PayButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.PayButton:hover {
    background-color: #45a049;
}

/* Add more styles as needed */

/* You can use data attributes to add custom data to the button */
.PayButton[data-disabled="true"] {
    background-color: #ccc;
    cursor: not-allowed;
}

.centerPayButton{
    display: flex;
    justify-content: center;
    margin: 10px;
}